<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoomRover</title>
</head>
<body>
<form method="post" action="/listings/<%= listing._id %>?_method=PUt">
    <h2>Edit this listing:</h2>
    <input type="text" name="listing[title]" value="<%= listing.title %>"><br>
    <textarea name="listing[description]" value="<%= listing.description %>"></textarea><br>
    <input type="text" name="listing[image]" value="<%= listing.image %>"><br>
    <input type="number" name="listing[price]" value="<%= listing.price %>"><br>
    <input type="text" name="listing[location]" value="<%= listing.location %>"><br>
    <input type="text" name="listing[country]" value="<%= listing.country %>"><br>
    <button type="submit">Edit</button>
</form>
</body>
</html>